<div class ="LoginMain">
    <span class="heading">{{count}} Items on your List</span>
    <div *ngFor="let task of tasks" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="heading">{{task}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
    
    <div class="addDiv">
      <h1 class="heading">Add a Task</h1>
      <form  #taskForm="ngForm" (ngSubmit)="submitTask(taskForm.form);">
          <input type="text" 
          class="form-control" 
          name="task"  
          ngModel  
          #taskField="ngModel" 
          required 
          minlength="3"
          > 
          <div *ngIf="taskField.touched && taskField.errors"> 
              <div class="alert alert-danger" 
              *ngIf="taskField.errors.required">
              Task is required
          </div>  
            <div class="alert alert-danger" 
                *ngIf="taskField.errors.minlength">
                The task should be at least 3 characters long
            </div>
          </div>
        
        <button class="subButton" [disabled]="!taskForm.valid">Add Item</button>
      </form>
    </div>
</div>

